@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <CascadingValue Value="@Cor" Name="CorFundo">
                <CascadingValue Value="@Tamanho" Name="TamanhoFonte">
                    @Body
                </CascadingValue>
            </CascadingValue>
        </article>
    </main>
</div>

@code{
    private string Cor = "cyan";
    private string Tamanho = "20px";
}